<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.justthetipband.christophertino.androidapp">
    <uses-permission android:name="android.permission.INTERNET"/>
	<application android:allowBackup="true"
	             android:label="@string/app_name"
	             android:icon="@mipmap/ic_launcher"
	             android:theme="@style/JTT.Theme">
        <activity android:name=".MainActivity"
            android:label="@string/home_label"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".YouTubeVideoActivity"
		          android:label="@string/video_player_label"
		          android:launchMode="singleTop" />
	</application>
</manifest>